<!DOCTYPE html>
<html lang="en">
<head>
<title>About</title>
</head>
<body id="page2">

    <div class="body1">
	<div class="body2">
		<div class="body3">
			<div class="main">
<!-- header -->
				<header>
					<div class="wrapper">
						<h1><a href="/Home/Index" id="logo"></a></h1>
						<form id="search" method="post">
							<div>
								<input type="submit" class="submit" value="">
								<input class="input" type="text" value="Site Search" onblur="if(this.value=='') this.value='Site Search'" onfocus="if(this.value =='Site Search' ) this.value=''">
							</div>
						</form>
						<nav>
                            <br />
							<ul id="menu">
                                    <li><a href="/Home/Index">Home</a></li>
                                    <li id="active"><a href="/Home/About">About</a></li>
                                    <li><a href="/Home/Contact">Contact</a></li>
                                    <li><a href="/Authenticate/Register">Register</a></li>
                                    <li class="end"><a href="/Authenticate/Login">Login</a></li>
                            </ul>
						</nav>
					</div>
				</header>
			</div>
		</div>
	</div>
</div>

<div class="body1">
	<div class="main">
<!-- content -->
				<section id="content">
					<div class="wrapper">
						<h2>About Me</h2>
						<div class="wrapper">
                            <figure class="left marg_right1"><img src="~/Images/page2_img1.jpg" alt=""></figure>
							<p>	
								<strong>
									<br /><br />
								</strong>
							</p>
							<p>
								I am an energetic and ambitious person, develop a mature and responsible approach to any task that I undertake, or situation that I am presented with. Capable of learning new things rapidly and using the old knowledge to build defensive solution in a critical situation.
							</p>
							<p>
								Expertise: C/C++, Database, Java Script, XML, HTML, CSS, Web services, Mobile development especially in gaming, git, Mysql, Linux, complex algorithm design, agile development especially in Scrum with sound communication skills.
							</p>
                            <div class="tinyText" style="height: 75px; left: 801px; position: absolute; top: 478px; width: 300px; z-index: 1;">
                                <img usemap="#map7" id="shapeimage_13" src="~/Images/stackico.png" style="border: none; height: 75px; left: -3px; position: absolute; top: -3px; width: 70px; z-index: 1;" alt="stackoverflow" title="" />
                                <map name="map7" id="map7">
                                    <area href="http://stackoverflow.com/users/3974995/kagaroat-goku" title="Kagaroat Goku" alt="Kagaroat Goku" coords="3, 3, 386, 76" />
                                </map>
                                <img usemap="#map71" src="~/Images/stack.png" style="border: none; height: 75px; left: 75px; position: absolute; top: -3px; width: 225px; z-index: 1;" alt="github" title="" />
                                <map name="map71" id="map71">
                                    <area href="http://stackoverflow.com/users/3974995/kagaroat-goku" title="Kagaroat Goku" alt="Kagaroat Goku" coords="3, 3, 386, 76" />
                                </map>
                            </div>
                            <div class="tinyText" style="height: 75px; left: 480px; position: absolute; top: 478px; width: 300px; z-index: 1;">
                                <img usemap="#map6" src="~/Images/githubico.png" style="border: none; height: 75px; left: -3px; position: absolute; top: -3px; width: 70px; z-index: 1;" alt="github" title="" />
                                <map name="map6" id="map6">
                                    <area href="https://github.com/kagaroat" title="Kagaroat Goku" alt="Kagaroat Goku" coords="3, 3, 385, 129" />
                                </map>
                                <img usemap="#map61" src="~/Images/git.png" style="border: none; height: 75px; left: 75px; position: absolute; top: -3px; width: 225px; z-index: 1;" alt="github" title="" />
                                <map name="map61" id="map61">
                                    <area href="https://github.com/kagaroat" title="Kagaroat Goku" alt="Kagaroat Goku" coords="3, 3, 385, 129" />
                                </map>
                            </div>
						</div>
                        <br />
                        <br />
						<div class="pad">
							<p>
								<br />
                                <br />
                                <br />
                                <br />
							</p>
							<a href="/Home/DownloadFile" class="button">Resume</a>
						</div>
					</div>
				</section>
			</div>
		</div>
<div class="body4">
	<div class="main">
		<section id="content2">
			<div class="line2 wrapper">
				<div class="wrapper">
					<article class="col1">
						<h2>Muhammad Tayyab Razzaq</h2>
						<div class="pad">
							<p class="pad_bot2">
								<strong>
									Work
								</strong>
							</p>
							<p>
                                PUNJAB UNIVERSITY COLLEGE OF INFORMATION TECHNOLOGY, LAHORE <br />
                                Teacher Assistant <br />
                                10/2014 – Present <br />
                                PF , OOP , DSA , OS 
							</p>
                            <p>
                                ALIENS LAB <br />
                                Game Developer (Internee) <br />
                                07. 2014 – 10. 2014

                            </p>
                            <p class="pad_bot2">
								<strong>
								    Interest	
								</strong>
							</p>
							<p>
								Game and Web Development <br />
                                Android Development <br />
							</p>
						</div>
					</article>
					<article class="col2 pad_left1">
						<h2>My Hobby</h2>
						<div class="pad">
							<p class="pad_bot1">
								<strong>
									Traveling
								</strong>
							</p>
							<figure class="left marg_right1 marg_left1"><img src="~/Images/page2_img2mew.jpg" alt=""></figure>
						</div>
					</article>
				</div>
				<div class="wrapper buttons">
					<article class="col1">
						<a href="https://www.facebook.com/kagaroat.goku/about" class="button">Read More</a>
					</article>
					<article class="col2 pad_left1">
						<a href="https://www.facebook.com/kagaroat.goku/photos_of" class="button">Read More</a>
					</article>
				</div>
			</div>
		</section>
	</div>
</div>
<!-- / content -->
</body>
</html>