<!DOCTYPE html>
<html lang="en">
<head>
<title>Contact</title>
<meta charset="utf-8">

</head>
<body id="page6">

    <div class="body1">
	<div class="body2">
		<div class="body3">
			<div class="main">
<!-- header -->
				<header>
					<div class="wrapper">
						<h1><a href="/Home/Index" id="logo"></a></h1>
						<form id="search" method="post">
							<div>
								<input type="submit" class="submit" value="">
								<input class="input" type="text" value="Site Search" onblur="if(this.value=='') this.value='Site Search'" onfocus="if(this.value =='Site Search' ) this.value=''">
							</div>
						</form>
						<nav>
                            <br />
							<ul id="menu">
                                    <li><a href="/Home/Index">Home</a></li>
                                    <li><a href="/Home/About">About</a></li>
                                    <li id="active"><a href="/Home/Contact">Contact</a></li>
                                    <li><a href="/Authenticate/Register">Register</a></li>
                                    <li class="end"><a href="/Authenticate/Login">Login</a></li>
                            </ul>
						</nav>
					</div>
				</header>
			</div>
		</div>
	</div>
</div>


<div class="body1">
			<div class="main">
<!-- content -->
				<section id="content">
					<div class="wrapper">
						<h2>Contact Form</h2>
						<form id="ContactForm">
							<div>
								<div class="wrapper">
									<span>Your Name:</span><input type="text" class="input" >
								</div>
								<div class="wrapper">
									<span>Your E-mail:</span><input type="text" class="input" >								
								</div>
								<div class="textarea_box">
									<span>Your Message:</span><textarea name="textarea" cols="1" rows="1"></textarea>								
								</div>
								<span>&nbsp;</span>
								<a href="#" class="button" onClick="document.getElementById('ContactForm').reset()">Clear</a>
								<a href="#" class="button" onClick="document.getElementById('ContactForm').submit()">Send</a>
							</div>
						</form>
					</div>
				</section>
			</div>
		</div>
<div class="body4">
	<div class="main">
		<section id="content2">
			<div class="line2 wrapper">
				<div class="wrapper">
					<article class="col1">
						<h2>Miscellaneous</h2>
						<div class="pad">
							
						</div>
					</article>
					<article class="col2 pad_left1">
						<h2>My Contacts</h2>
						<div class="pad">
							<span class="col3">
									
									<strong>Country: </strong>Pakistan<br>
									<strong>State:</strong>Punjab<br>
									<strong>City:</strong>Lahore<br>
									<strong>Phone:</strong>+92-346-6906690<br>
									<strong>Email:</strong><a href="mailto:" style="text-decoration:underline; color:white" >luck.19@live.com</a>
							</span>	
							<br>
						</div>
					</article>
				</div>
			</div>				
		</section>
	</div>
</div>
<!-- / content -->

</body>
</html>
